/********************************************************************************************************
	created by:		Peter Fuerholz
	project:		HSR CAS FEE
	date:			09/2016
	version:		0.1
	function:		base Stylesheet
********************************************************************************************************/


* {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    line-height: 15px;
}

input,
textarea {
    width: 100%;
}
input[type = 'checkbox'] {
    width: inherit;
    margin: 3px;
}


/* input validations are shown with the aria-invalid attribute:*/
input[aria-invalid="true"],
textarea[aria-invalid="true"]
{
    border:1px solid #f00;
    box-shadow:0 0 4px 0 #f00;
}


/**
 * menues is only needed for background filler hack (nowadays we use flex!)
 */
#menues {
    overflow: hidden;
}

#main-menue {
    margin: 0;
    margin-bottom: -1000px;
    padding-bottom: 1000px;
}


.pf-left {
    float: left;
}

.pf-right {
    float: right;
}

.pf-btn {
    margin: 5px;
    padding: 5px 10px;
    border-radius: 6px;
}


.pf-btn-pressed {
    border-style: inset; /* same as :active style */
    filter: brightness(1.4); /* not supported in IE (but Edge) and Opera Mini */
}

/* styles for split buttons */

.pf-split-btn-div {
    margin: 5px;
}

.pf-split-btn-middle {
    margin: 0px;
    padding: 5px; /* 10px;*/
    border-radius: 0px;
}

.pf-split-btn-left {
    margin: 0px;
    padding: 5px;/* 10px;*/
    border-radius: 6px 0px 0px 6px; /* top left, top right, bottom right, bottom left */
}

.pf-split-btn-right {
    margin: 0px;
    padding: 5px;/* 10px;*/
    border-radius: 0px 6px 6px 0px; /* top left, top right, bottom right, bottom left */
}



/**
 * Styles specific for index.html:
 */


.pf-select-div select {
    background: inherit;
    padding: 0;
    margin: 0;
    border: 0;
}

.pf-select-div {
    margin: 5px;
    border-width: 2px;
    border-style: outset;
    border-color: buttonface;

    border-radius: 6px;
    padding: 5px;
}


#browse-notes-sub-menue {
    clear: both;
}

#notes-container {
    margin: 0;
    clear: both;
    background-color: white;
}

table#notes-container {
    display: block;
    width: 100%;
}

.pf-flex {
    display: flex;
}

.pf-flex-notes-col1 {
    flex: 0 0 25%;
    margin: 5px;
}

.pf-flex-notes-col2 {
    flex: auto;
    margin: 5px;
}

.pf-flex-notes-col3 {
    flex: none; /* neither shrink nor grow */
    margin: 5px;
}

.pf-edit-btn {
    padding: 10px 15px;
}

.pf-notes-row {
    margin: 5px;
    border-radius: 4px;
}

.pf-severity {
    float: right;
}

.pf-notes-item-title {
    font-weight: bold;
}

details {
    border: 3px groove;
    padding: 2px;
    background-color: white;
}

details:not([open]) > summary {
    max-height: 2.8em;
    overflow: hidden;
    /* 'text-overflow: ellipsis;' : Does only work when 'white-space: nowrap' and width set to fixed value. */
}

/* without this rule ugly empty line appears */
summary > p,
summary > h1,
summary > h2
summary > h3,
summary > h4,
summary > h5,
summary > h6 {
    display: initial;
}

#no-notes-msg {
    color: #cccccc;
    margin: 10px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#no-notes-msg h1 {
    margin-top: 2em;
    font-size: 400%;
    line-height: 100%;
}

#no-notes-msg p {
    font-size: 200%;
    line-height: 100%;
}


/**
 * Styles specific for edit.html:
 */

.error {
    display: none;
    margin: 10px;
    padding: 10px;
    border: 3px solid red;
    border-radius: 4px;
    font-size: large;
    color: red;
}

.pf-flex-edit-col1 {
    flex: 0 0 30%;
    margin: 5px;
}

.pf-flex-edit-col2 {
    flex: 0 0 50%;
    margin: 5px;
}

.pf-flex-edit-col3 {
    flex: auto;
    margin: 5px;
}

.pf-flex-fill {
    flex: auto;
}
.pf-flex-right-aligned {
    flex: 0 0 20%;
}

#severity-widget div {
    float: none;
}