/********************************************************************************************************
	created by:		Peter Fuerholz
	project:		HSR CAS FEE
	date:			09/2016
	version:		0.1
	function:		Stylesheet for severity "component"
********************************************************************************************************/



.pf-severity {
    display: flex;
}

.pf-severity-cell {
    flex: 0 0 auto;
    color: #dddddd;
    font-size: 36px;

    /* use button for accessibility but disguise to look like: */
    background: transparent;
    border: 0;
    padding: 5px 0; /* top bottom */
}

.pf-severity-cell-editable {
    font-weight: 900; /*extra-bold;*/
}

.pf-severity-marked {
    color: black;
}
